<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/tea/login" method="post">
    id: <input type="text" name="id"></input>
    psd:<input type="psd" name="password"></input>
    <button type="submit">教师登录</button>
</form>

<form action="/stu/login" method="post">
    id: <input type="text" name="sno"></input>
    <button type="submit">学生登录</button>
</form>
</body>
</html>